<div class="container-fluid">   
    <div class="row">
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-5 col-sm-12 wrapper1" >
            <div class="wrapper-content">
                    <h3>Launching Soon</h3>
                <div class="wrapper-content1">
                    <div class="wrapper-content2">
                        <a href="#"><i class="fas fa-phone-alt"></i></a>
                        <span>1234567890</span>
                        <a href="#"><i class="far fa-envelope"></i></a>
                        <span>contactus&#64;gudvil.in</span>
                    </div>
                </div>
                <div class="line"></div>
                <div class="wrapper-content3">
                    <p class="content3-1">Our Website is Coming Soon</p>
                    <button (click)="open(content)" class="btn1">Get an Invite</button>
                    <p class="content3-2">Sign up now to our newsletter and you will be one of the first know 
                        when our new website as ready</p>
                </div>
                <div class="wrapper-content4">
                    <form>
                        <div class="input-btn">
                            <input class="email-address" type="text" placeholder="Your email address">
                        </div>
                        <div class="input-btn">
                            <button class="input-btn2">Subscribe</button>
                        </div>
                    </form>
                </div>
                <div class="icon-align">
                    <a href="#" target="blank"><i class="fab fa-instagram"></i></a>
                    <a href="#" target="blank"><i class="fab fa-twitter"></i></a>
                    <a href="#" target="blank"><i class="fab fa-facebook"></i></a>
                    <a href="#" target="blank"><i class="fab fa-linkedin"></i></a>
                </div>
                <div class="backimage">
                    <img src="/assets/backgroundimage.png" height="100%" width="100%">
                </div>
            </div>
        </div>
        <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-7 col-sm-12 swiper">
                <div class="swiper-wrapper">
                    <div class="bg swiper-slide"></div>
                    <div class="bg swiper-slide"></div>
                    <div class="bg swiper-slide"></div>
                    <!-- <div class="bg swiper-slide" style="background-image: linear-gradient(to bottom, rgba(6,27,65,0) 0%,rgba(6,27,65,0.95) 100%), url(/assets/right.jpg)"></div>
                    
                    <div class="bg swiper-slide" style="background-image: linear-gradient(to bottom, rgba(6,27,65,0) 0%,rgba(6,27,65,0.95) 100%), url(/assets/right.jpg)"></div>
                    <div class="bg swiper-slide" style="background-image: linear-gradient(to bottom, rgba(6,27,65,0) 0%,rgba(6,27,65,0.95) 100%), url(/assets/right.jpg)"></div> -->
                </div>
              
                <!-- If we need navigation buttons swiper-button-prev-->
                <div class="swiper-button-prev navigatorBtnLeft next-el">
                    <div class="arrow-right">
                        <i class="fa fa-arrow-left"></i>
                    </div>
                </div>
                <!-- <div class="swiper-button-prev swiper-pagination-bullet navigatorBtnLeft next-el"><i class="fa fa-arrow-left"></i></div> -->
                <!-- <div class="previous">  <i class="fa fa-phone"></i>-->
                <!-- <div class="swiper-button-prev"></div>-->
                <div class="swiper-button-next">
                    <div class="arrow-left"><i class="fa fa-arrow-right"></i>
                    </div> 
                </div>
                <!-- If we need scrollbar -->
                <!-- <div class="swiper-scrollbar"></div> -->
              <!-- </div> -->
                <div class="line-transition">
                    <div class="line">
                        <div class="straight-line"></div>
                    </div>
                </div>
            
            <div class="count">
                <div class="countdown">
                    <span>00</span> 
                    <p>DAYS</p>
                </div>
                <div class="countdown">
                    <span>00</span>
                    <p>HOURS</p>
                </div>
                <div class="countdown">
                   <span>00</span>
                    <p>MINUTES</p>
                </div>
                <div class="countdown">
                    <span>00</span>
                    <p>SECONDS</p>
                </div>
            </div>    
        
            <div class="contact-details">
                <div class="contact_block">
                    <div class="contact_blocks">
                        <span class="details"><i class="fas fa-phone-alt"></i></span>
                        <span class="details">1234567890</span>
                    </div>
                    <div class="contact_blocks">
                        <span class="details"><i class="far fa-envelope"></i></span>
                        <span class="details">contactus&#64;gudvil.in</span>
                    </div>
                </div>
            </div> 
        </div>  
    </div>  
</div>


<ng-template #content let-modal>
    <div class="modal1">
        <!-- <div class="modal-header"> -->
            <div class="header">
            <div class="header-content">
                Get In Touch
            </div>
            <div class="close-btn">
                <span><i class="fa fa-close" (click)="modal.dismiss('Cross click')"></i></span>
            </div>
            <!-- <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button> -->
            </div>
            
        <div class="modal-body form">
            <form [formGroup]="reactiveForm" >
                <label for="email">Your name*</label>
                <div class="input-group mb-3"> 
                    <span class="input-group-text" id="basic-addon1" ><i class="fa fa-user"></i></span>
                    <input type="text" class="form-control" formControlName="name" placeholder="*Your Name">
                </div>
                <label for="email">Your mail*</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1" ><i class="fa fa-envelope"></i></span>
                    <input type="text" class="form-control" formControlName="email" placeholder="*Your Email" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <label for="email">Phone*</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1" ><i class="fa fa-phone-alt"></i></span>
                    <input type="text" class="form-control" formControlName="phone" placeholder="*Your Phone Number" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <label></label>
                <div class="input-group mb-3">
                    <span class="textarea input-group-text" id="basic-addon1">
                <textarea id="Messagearea" formControlName="textarea" placeholder="*Your Message:" rows="4"></textarea><br></span>
                </div>
                <p-toast></p-toast>
                <button type="button" pButton pRipple (click)="onSubmit()" label="Send Message" class="btn btn-primary" [disabled]="!reactiveForm.valid">&#10003; Send Message</button>
            </form>
        </div>
    </div>
</ng-template>

